---
title: ''
published: false

---
<div class="user-details">
  <h1> Uma pizza tamanho família </h1>
  <p>Esse grupo diverso estuda ciência de dados para salvar o mundo!</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Assine</h2>
      <p>Dá pra escutar o Pizza em diversas plataformas! Escolha a sua preferida ;)</p>
      <center>
        <a class="project-link" href="https://itunes.apple.com/us/podcast/pizza-de-dados/id1323137071">
          <i class="icon fa fa-podcast"></i>  iTunes
        </a>
        <a class="project-link" href="https://open.spotify.com/show/5k0Ei0MSg5BuiHshr43aSg">
          <i class="icon fa fa-spotify"></i>  Spotify
        </a>
        <a class="project-link" href="http://feeds.feedburner.com/PizzaDeDados">
          <i class="icon fa fa-rss"></i>  RSS
        </a>
      </center>
    </div>
    <div class="tech">
      <h2>Apoie</h2>
      <p>Nós temos uma campanha de financiamento recorrente para ajudar a pagar a edição dos episódios. Se você gosta do nosso trabalho considere nos pagar um café ;)</p>
      <center><a class="project-link" href="https://apoia.se/pizzadedados">Para a campanha</a></center>
    </div>
    <div class="tech">
      <h2>Parceiros</h2>
      <p><a href="https://databootcamp.com.br">Data Bootcamp</a>, o maior bootcamp de Data Science do Brasil! Aprenda a organizar, extrair e interpretar os dados da sua empresa com as tecnologias mais avançadas usadas no mercado.</p>
      <a href="https://databootcamp.com.br"><img src="https://databootcamp.com.br/static/img/logo.png" style="background: #1f2845;"/></a>
    </div>
</div>