{% if page.language == "pt-br" %}
<div class="user-details">
  <h1> Pizzaiolas </h1>
<p>Conheça um pouco mais das vozes que você está escutando.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Leticia Portella</h2>
    <img alt="foto da Lele Portella" src="{{ site.lele_photo }}" />
    <p>Letícia é uma oceanógrafa apaixonada por programação que descobriu como unir sua formação e sua paixão em uma única área: ciência de dados. Gosta de escrever textos técnicos, conhecer novos lugares e coleciona teorias sobre as Crônicas de Gelo e Fogo em seu tempo livre.</p>
      <center><a class="project-link" href="https://leportella.com">Site</a></center>
    </div>
    <div class="tech">
      <h2>Jessica Temporal</h2>
      <img alt="foto da Jess Temporal" src="{{ site.jess_photo }}" />
      <p>Jessica é Senior Developer Advocate na Auth0, trabalha diariamente utilizando Python para ajudar pessoas desenvolvedoras à garantirem a segurança da identidade em suas aplicações.</p>
      <center><a class="project-link" href="https://jtemporal.com">Site</a><center>
    </div>
    <div class="tech">
      <h2>Ana Cecília Vieira</h2>
      <img alt="foto da Gust Coelho" src="{{ site.ceci_photo }}" />
      <p>Ana Cecília é analista de dados especializada em abertura de dados, feminista, antiracista e entusiasta dos temas: dados abertos, código aberto e comunidades autogestionadas como instrumento para transformação social.</p>
      <center><a class="project-link" href="https://cecivieira.com">Site</a></center>
    </div>
</div>
{% else %}
<div class="user-details">
  <h1> Pizzaiolas </h1>
<p>Learn a little more about the voices in the podcast.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Leticia Portella</h2>
    <img alt="foto da Lele Portella" src="{{ site.lele_photo }}" />
    <p>Leticia is a passionate oceanographer who has figured out how to unite her background and passion in one area: data science. She enjoys writing technical texts, learning about new places, and collects theories of Ice and Fire Chronicles in her spare time.</p>
      <center><a class="project-link" href="https://leportella.com">Site</a></center>
    </div>
    <div class="tech">
      <h2>Jessica Temporal</h2>
      <img alt="foto da Jess Temporal" src="{{ site.jess_photo }}" />
      <p>Jessica is a Senior Developer Advocate at Auth0, working daily using Python to help developers ensure identity security in their applications.</p>
      <center><a class="project-link" href="https://jtemporal.com">Site</a><center>
    </div>
    <div class="tech">
      <h2>Ana Cecília Vieira</h2>
      <img alt="foto da Gust Coelho" src="{{ site.ceci_photo }}" />
      <p>Ana Cecília is a data analyst specializing in open data, feminist, anti-racist and enthusiast of the themes: open data, open code and self-managed communities as an instrument for social transformation.</p>
      <center><a class="project-link" href="https://cecivieira.com">Site</a></center>
    </div>
</div>
{% endif %}
