{% if page.language == "pt-br" %}
<div class="user-details">
  <h1> Pizzaiolas </h1>
<p>Conheça um pouco mais das vozes que você está escutando.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Leticia Portella</h2>
    <img alt="foto da Lele Portella" src="{{ site.lele_photo }}" />
    <p>Letícia é uma oceanógrafa apaixonada por programação que descobriu como unir sua formação e sua paixão em uma única área: ciência de dados. Gosta de escrever textos técnicos, conhecer novos lugares e coleciona teorias sobre as Crônicas de Gelo e Fogo em seu tempo livre.</p>
      <center><a class="project-link" href="https://leportella.com">Site</a></center>
    </div>
    <div class="tech">
      <h2>Jessica Temporal</h2>
      <img alt="foto da Jess Temporal" src="{{ site.jess_photo }}" />
      <p>Jessica se apaixonou pela ciência de dados analisando dados biológicos ainda na faculdade. Mudou totalmente o foco de suas análises ao se envolver com a Operação Serenata de Amor. Hoje leva seus cachos e seu amor por dados para compor o time de ciência de dados na TV Globo.</p>
      <center><a class="project-link" href="https://jtemporal.com">Site</a><center>
    </div>
</div>
{% else %}
<div class="user-details">
  <h1> Pizzaiolas </h1>
<p>Learn a little more about the voices in the podcast.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Leticia Portella</h2>
    <img alt="foto da Lele Portella" src="{{ site.lele_photo }}" />
    <p>Leticia is a passionate oceanographer who has figured out how to unite her background and passion in one area: data science. She enjoys writing technical texts, learning about new places, and collects theories of Ice and Fire Chronicles in her spare time.</p>
      <center><a class="project-link" href="https://leportella.com">Site</a></center>
    </div>
    <div class="tech">
      <h2>Jessica Temporal</h2>
      <img alt="foto da Jess Temporal" src="{{ site.jess_photo }}" />
      <p>Jessica fell in love with data science analyzing biological data while still in college. She shifted the focus of her analysis by getting involved with Operação Serenata de Amor. Today she takes her curls and her love of data to make up the data science team at TV Globo.</p>
      <center><a class="project-link" href="https://jtemporal.com">Site</a><center>
    </div>   
</div>
{% endif %}
