<!DOCTYPE html>
{% if page.language %}
<html lang="{{ page.language }}">
{% else %}
<html lang="pt-br">
{% endif %}
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="pizzaiolos">
        {% include pizzaiolos.html %}
      </section>
      <section id="vemcomagente">
        {% include vemcomagente.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
